@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Source+Serif+Pro&family=Wendy+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Wendy One", sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
