@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Source+Serif+Pro&family=Wendy+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Wendy One", sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
  width: 250px;
  box-shadow: 0 20px 30px #00000010;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  padding: 20px 20px 0 20px;
  border-radius: 10px;
  border: 0.5px solid #ff8a4247; 
}